<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>BlueWebTemplates</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link href="style.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div class="main">
  <div class="main_resize">
    <div class="header">
      <div class="logo"><a href="index.html"><img src="images/logo.gif" width="232" height="74" border="0" alt="logo" /></a></div>
      <div class="clr"></div>
      <div class="menu">
        <ul>
          <li><a href="index.html"><span>Home</span></a></li>
          <li><a href="services.html" ><span>Services</span></a></li>
          <li><a href="about.html"><span>Portfolio</span></a></li>
          <li><a href="about.html" class="active"><span> About Us </span></a></li>
          <li><a href="contact.html"><span> Contact Us</span></a></li>
        </ul>
      </div>
      <div class="click">
        <p>Click here to live Support Tell Free 1-866-123-675</p>
      </div>
      <div class="clr"></div>
    </div>
    <div class="clr"></div>
    <h3>About Us</h3>
    <div class="main_left">
     
     
      <h2>What They Say</h2>
      <img src="images/test.gif" alt="picture" width="18" height="17" class="floated" />
      <p>&quot;Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse voluptas nulla pariatur?&quot;</p>
      <p><em><strong>by: John S., webdesigner</strong></em></p>
      <p>&nbsp;</p>
      <p><img src="images/test.gif" alt="picture" width="18" height="17" class="floated" /> </p>
      <p>&quot;Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse voluptas nulla pariatur?&quot;</p>
      <p><em><strong>by: John S., webdesigner</strong></em></p>
    </div>
    <div class="main_right">
      <div class="right_text">
        <p><strong>Latest News:</strong> Dipisicing elit, sed do eiusmod tempor incididunt ut labore et?</p>
      </div>
      <div class="clr"></div>
      <h2>Vision &amp; Mission<br />
         </h2>
      <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium mque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. <br />
        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip exea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
      <p>&nbsp;</p>
 
    </div>
    <div class="clr"></div>
  </div>
 <div class="footer">
    <div class="footer_resize">
      <p class="leftt"> <a href="#"> Home</a> | <a href="#">Contact</a> </p>
      
      <div class="clr"></div>
    </div>
    <div class="clr"></div>
  </div>
</div>


</div>
</body>
</html>
